@import "global.variables";

.App {
    width: 100%;
    min-height: 100vh;
    background: $bgColor;
    display: flex;
    flex-direction: column;

    .blobs {
        .blob {
            position: fixed;
            z-index: 1;
        }

        .topBlob {
            bottom: 0;
            left: 0;
            transform: scaleX(-1);
            width: 15em;
        }

        .bottomBlob {
            right: 0;
            bottom: 0;
            width: 18em;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .App {
        .blobs {
            .topBlob {
                width: 10em;
            }

            .bottomBlob {
                width: 10em;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .App {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 390px) {
    .App {
        font-size: 0.75em;
    }
}

@media only screen and (max-height: 680px) {
    .App {
        .blobs {
            .topBlob {
                width: 5em;
            }

            .bottomBlob {
                width: 5em;
            }
        }
    }
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
    margin-top: 30px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100, 100, 100, 1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100, 100, 100, 1);
}
