@import "global.variables";

.Footer {
    width: 95%;
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    a,
    p {
        color: $fadedColor;
        text-decoration: none;
    }
}
