$bgColor: #f1f4f7;
$fontColor: #303030;

$primaryColor: #3acea2;
$secondaryColor: #fff;
$accentColor: #3a7ace;

$fadedColor: #696969;
$lightColor: #aaaaaa;
$dangerColor: #ce3a3a;

$primaryShadow: 0 0 12px -3px $primaryColor;
$secondaryShadow: 5px 5px 12px -5px #0000001a;

$maxWidth: 60em;
$borderRadius: 0.4em;
