@import "global.variables";

.Navbar {
    width: 95%;
    max-width: $maxWidth;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.4em;
    position: relative;
    z-index: 3;

    .logo {
        font-family: "Permanent Marker";
        font-size: 2.1em;
        display: flex;
        align-items: center;

        .navMenuButton {
            width: 0.85em;
            height: 18px;
            display: flex;
            align-items: center;
            margin-right: 0.5em;
            display: none;
            cursor: pointer;
        }

        .navMenuIcon {
            width: 100%;
            height: 4px;
            background: $fontColor;
            position: relative;
            border-radius: $borderRadius;

            &::before,
            &::after {
                content: "";
                width: 100%;
                height: inherit;
                position: absolute;
                background: inherit;
                border-radius: $borderRadius;
            }

            &::before {
                top: -9px;
            }

            &::after {
                bottom: -9px;
            }
        }

        a {
            text-decoration: none;
            color: $fontColor;

            span {
                color: $primaryColor;
            }
        }
    }

    a {
        color: $fontColor;
        text-decoration: none;
        font-weight: 500;
        font-size: 1.05em;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -0.2em;
            left: 0;
            right: 0;
            width: 0%;
            height: 0.2em;
            margin: 0 auto;
            background: $primaryColor;
            transition: width 0.3s;
        }

        &:hover::after {
            width: 100%;
        }

        span {
            color: $lightColor;
        }
    }

    .links {
        display: flex;
        align-items: center;
        gap: 2.5em;

        .donate {
            background: $primaryColor;
            color: $secondaryColor;
            padding: 0.5em 1em;
            border-radius: 0.4em;

            &::after {
                content: none;
            }

            &:hover {
                box-shadow: $primaryShadow;
            }

            &:active {
                box-shadow: inset $secondaryShadow;
            }
        }
    }

    .menu {
        position: fixed;
        top: 2.1em;
        bottom: 0;
        left: 0;
        right: 0;
        background: $secondaryColor;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5em;
        font-size: 2em;
    }

    .logoIcon {
        &::after {
            display: none;
        }
    }
}

@media only screen and (max-width: 600px) {
    .Navbar {
        .logo {
            .navMenuButton {
                display: flex;
            }
        }

        .links {
            a {
                display: none;
            }

            .donate {
                display: block;
            }
        }
    }
}
