@import "global.variables";

.readMe {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    animation: appear 0.5s forwards;
    display: flex;
    z-index: 20;

    .readMeWrapper {
        background: $bgColor;
        border-radius: $borderRadius;
        max-width: 40em;
        max-height: 50em;
        width: 95%;
        height: 95%;
        margin: auto;
        padding: 1em;
        transform: translateY(10em);
        animation: slideIn 0.7s forwards;
        display: flex;
        flex-direction: column;

        .divider {
            flex: 1;
            background: $primaryColor;
            height: 0.25em;
            border-radius: $borderRadius;
        }

        h1 {
            font-size: 1.5em;
            margin-bottom: 0.5em;
            // color: $primaryColor;
            display: flex;
            align-items: center;
            gap: 0.5em;

            .closeIcon {
                cursor: pointer;
                transition: all 0.5s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .readMeDisc {
            margin-bottom: 1em;
        }

        .guides {
            flex: 1;
            width: 100%;
            overflow: auto;
            padding-right: 0.5em;

            .guide {
                margin-bottom: 2em;
                background: $secondaryColor;
                padding: 0.5em;
                border-radius: $borderRadius;
                box-shadow: $secondaryShadow;
                border: 2px solid $lightColor;

                h3 {
                }

                p {
                    margin-bottom: 0.5em;
                }

                img {
                    max-width: 100%;
                    text-align: center;
                    border-radius: $borderRadius;
                }

                .imgs {
                    text-align: center;
                }
            }
        }
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    100% {
        transform: translateY(0);
    }
}
