@import "global.variables";

.repoCard {
    width: 100%;
    max-width: 25em;
    height: 12em;
    background: $secondaryColor;
    padding: 1em;
    border-radius: $borderRadius;
    box-shadow: $secondaryShadow;
    cursor: pointer;
    transition: all 0.3s, outline 0s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        outline: 2px solid $lightColor;
        transform: scale(1.01);
        box-shadow: 5px 5px 12px 0px #0000001a;
    }

    .repoData {
        display: flex;
        gap: 1em;

        .data {
            display: flex;
            width: max-content;
            align-items: center;

            p {
                margin-left: 0.2em;
            }
        }
    }
}
