@import "global.variables";

.repoStats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .col {
        opacity: 0;
        min-width: 23em;
        height: 25em;
        flex: 1;
        background: $secondaryColor;
        border-radius: $borderRadius;
        box-shadow: $secondaryShadow;
        transition: opacity 0.5s;
        padding: 1em;

        h2 {
            font-size: 1em;
        }

        h1 {
            font-size: 4em;
            color: $primaryColor;

            &::after {
                content: "/downloads";
                color: $fontColor;
                font-size: 0.2em;
            }
        }

        .assets {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            max-height: 15em;
            padding: 0.1em 0.3em;

            .assetInfo {
                display: flex;
                align-items: center;
                gap: 0.5em;
                padding: 0.5em;

                .divider {
                    flex: 1;
                    height: 0.2em;
                    background: $primaryColor;
                    border-radius: 5em;
                }
            }

            .asset {
                cursor: pointer;
                padding: 0.5em 1em;
                border-radius: $borderRadius;

                &:hover {
                    box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.2);
                    background: $fadedColor;
                    color: $secondaryColor;
                }
            }

            .selectedAsset {
                background: $primaryColor;
                color: $secondaryColor;

                .divider {
                    background: $fontColor;
                }
            }
        }
    }
}
