@import "../assets/scss/global.scss";

nav {
  height: $navHeight;
  margin-top: 1.3em;
  margin-left: $marginWall;
  margin-right: $marginWall;
  display: grid;
  grid-template-columns: 10em auto;
  position: relative;

  h1 {
    font-family: "Permanent Marker";
    font-size: 2em;
    height: 100%;

    span {
      color: $secondaryFontColor;
    }
  }

  .navButtons {
    width: 20em;
    position: absolute;
    top: -8px;
    right: 0;
    height: 100%;

    ul {
      list-style-type: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        display: inline;
        font-size: 1.2em;
        font-weight: 700;

        a {
          text-decoration: none;
        }

        #donateButton {
          color: $secondaryFontColor;
        }
      }
    }
  }
}

.content {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  // align-items: center;
  justify-content: center;

  .banner {
    margin-top: 20em;
    width: 100%;
    height: 15em;
    // background: blue;
    text-align: center;
    transition: margin 0.8s;

    .title {
      font-family: "Caveat";
      font-size: 3.5em;
      height: 1.3em;
      margin-bottom: 1.5em;
      transition: margin 0.8s;

      .blinker {
        position: absolute;
        margin-left: 3px;
        font-family: "Monsterrat";
      }
    }

    .titleHover {
      margin-bottom: 0.3em;
    }

    .wrapper {
      display: flex;
      justify-content: center;
      .searchHolder {
        position: relative;
        input:focus {
          outline: none;
        }
        input::placeholder {
          color: $fadeFontColor;
        }

        #searchBar {
          border: none;
          border-radius: 5px;
          box-shadow: 5px 5px 12px -2px rgba(100, 100, 100, 0.1);
          width: 40em;
          height: 3em;
          padding: 1em;
          padding-right: 2.8em;
          font-size: 1.2em;
          font-family: "Montserrat";
          transition: box-shadow 1s;
        }

        #searchButton {
          cursor: pointer;
          position: absolute;
          width: 3.5em;
          padding: 1em;
          top: 0px;
          right: 0px;
        }
      }
      .clearButton {
        background: $secondaryFontColor;
        width: 3.6em;
        height: 3.6em;
        border-radius: 5px;
        box-shadow: 5px 5px 12px -2px rgba(100, 100, 100, 0.1);
        margin-left: 1em;
        display: flex;
        justify-content: center;
        transition: opacity 1s, margin-right 1s;

        img {
          width: 2em;
        }
      }
    }

    .errorHolder {
      margin-top: 1em;
      color: rgb(255, 88, 88);
    }

    .repoHolder {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 15em;
      opacity: 0;
      transition: margin-top 1s, opacity 0.7s;

      .holder {
        cursor: pointer;
        background: white;
        width: 18em;
        text-transform: uppercase;
        box-shadow: 5px 5px 12px -2px rgba(100, 100, 100, 0.1);
        padding: 1em;
        text-align: center;
        border-radius: 10px;
        margin: 0.5em;
        text-overflow: ellipsis;

        p {
          font-size: 1.2em;
          color: $primaryFontColor;
          overflow: hidden;
        }
      }

      .holder:hover {
        box-shadow: none;
      }
    }

    .mainHolder {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 15em;
      opacity: 0;
      transition: margin-top 1s, opacity 0.7s;

      .holder {
        background: white;
        width: 30em;
        box-shadow: 5px 5px 12px -2px rgba(100, 100, 100, 0.1);
        padding: 1em;
        text-align: left;
        border-radius: 10px;
        margin: 0.5em;

        h5 {
          font-size: 4em;
          color: $secondaryFontColor;

          span {
            font-size: 0.2em;
            font-weight: 500;
          }
        }

        .infoHolder {
          max-height: 20em;
          overflow: auto;
          .latestAssets {
            .box {
              width: 100%;
              padding: 1em;
              display: flex;
              align-items: center;
              justify-content: center;

              .divider {
                width: 100%;
                height: 3px;
                background: $secondaryFontColor;
              }

              .name {
                float: left;
                margin-right: 1em;
                white-space: nowrap;
              }

              .downloads {
                float: right;
                margin-left: 1em;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }

    .mainHolderHover {
      margin-top: 5em;
      opacity: 1;
    }
  }

  .bannerHover {
    margin-top: 6em !important;
  }
}

footer {
  width: 100%;
  margin-left: $marginWall;
  margin-right: $marginWall;
  margin-bottom: 1.3em;
  position: fixed;
  bottom: 0;

  a {
    text-decoration: none;
  }
}

.blobs {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;

  .mainBlob {
    position: absolute;
    width: 25em;
    bottom: 0em;
    right: 0em;
  }

  .miniBlob {
    position: absolute;
    width: 7em;
    top: 10em;
    left: 15em;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes redGlow {
  0% {
    box-shadow: 0px 0px 12px 0px rgba(255, 88, 88, 0.4);
  }
  50% {
    box-shadow: 0px 0px 12px -2px rgba(255, 88, 88, 0.1);
  }
  100% {
    box-shadow: 0px 0px 12px 0px rgba(255, 88, 88, 0.4);
  }
}
