<nav>
  <h1>G<span>re</span>V</h1>
  <div class="navButtons">
    <ul>
      <li>
        <a href="https://github.com/HanaDigital/grev" target="_blank">Github</a>
      </li>
      <li>
        <a href="https://github.com/HanaDigital/grev/issues/new" target="_blank"
          >Bug Report</a
        >
      </li>
      <li>
        <a
          id="donateButton"
          href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2W7DADSP9HKQ8&source=url"
          target="_blank"
          >Donate</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="content">
  <div [ngClass]="{ bannerHover: bannerHover, banner: true }">
    <h1 [ngClass]="{ titleHover: bannerHover, title: true }">
      {{ title }}
      <span class="blinker">{{ blinker }}</span>
    </h1>
    <div class="wrapper">
      <div class="searchHolder">
        <input
          id="searchBar"
          type="text"
          placeholder="github.com/username/repo"
          [(ngModel)]="url"
          (keydown.enter)="search()"
          autofocus
          [ngStyle]="{
            animation: showError ? 'shake 0.5s, redGlow 1s infinite' : 'none'
          }"
          spellcheck="false"
        />
        <img
          id="searchButton"
          src="assets/img/search.svg"
          alt=""
          (click)="search()"
          [ngStyle]="{
            animation: showError ? 'shake 0.5s' : 'none'
          }"
        />
      </div>
      <div
        class="clearButton"
        [ngStyle]="{
          opacity: showStats ? '1' : '0',
          'margin-right': showStats ? '0' : '-3.6em',
          cursor: showStats ? 'pointer' : 'initial'
        }"
        (click)="loadClickedRepo('')"
      >
        <img src="assets/img/cancel-icon.svg" alt="" />
      </div>
    </div>
    <p
      [ngStyle]="{ display: showError ? 'block' : 'none' }"
      class="errorHolder"
    >
      {{ errorMsg }}
    </p>

    <div
      [ngClass]="{ mainHolderHover: showRepos, repoHolder: true }"
      [ngStyle]="{ display: showRepos ? 'flex' : 'none' }"
    >
      <div
        class="holder"
        *ngFor="let repo of cachedRepos"
        (click)="loadClickedRepo(repo.url)"
      >
        <div class="line line1"></div>
        <div class="text">
          <h6>{{ repo.id.split("/")[0] }}</h6>
          <p>{{ repo.name }}</p>
        </div>
        <div class="line line2"></div>
      </div>
    </div>

    <div [ngClass]="{ mainHolderHover: showStats, mainHolder: true }">
      <div class="holder">
        <h4>LATEST RELEASE</h4>
        <h5>{{ totalLatestUsers }}<span>/ downloads</span></h5>
        <div class="infoHolder">
          <div class="latestAssets" *ngFor="let asset of latestAssets">
            <div class="box">
              <div class="name">
                {{
                  asset.name.length > nameLength
                    ? asset.name.slice(0, nameLength) + "..."
                    : asset.name
                }}
              </div>
              <div class="divider"></div>
              <div class="downloads">{{ asset.download_count }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="holder">
        <h4>TOTAL DOWNLOADS</h4>
        <h5>{{ totalDownloads }}<span>/ downloads</span></h5>
        <div class="infoHolder">
          <div class="latestAssets" *ngFor="let release of releases">
            <div class="box">
              <div class="name">{{ release.name }}</div>
              <div class="divider"></div>
              <div class="downloads">{{ release.downloads }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <a href="https://github.com/dr-nyt" target="_blank">dr-nyt</a>
</footer>

<div class="blobs">
  <img id="blob1" class="mainBlob" src="assets/img/blob-bottom.png" />
  <img id="blob2" class="mainBlob" src="assets/img/blob-top.png" />

  <img class="miniBlob" src="assets/img/mini-blobs.png" />
</div>

<router-outlet></router-outlet>
